$background-color-primary: #333333;
$background-color-secondary: #452121;
$background-color-highlight: rgb(90, 90, 90);
$accent-color-primary: rgb(151, 75, 75);
$accent-color-secondary: rgb(88, 43, 43);
$accent-color-tertiary: #1a1a1a;

// 7.09 - all text
$font-color-primary: #c2c2c2;

// 4.54 - large text
$font-color-secondary: #9b9b9b;

$font-color-links: #3d82f0;
$font-color-links-visited: #a964be;
