$background-color-primary: #333333;
$background-color-secondary: #452121;
$background-color-highlight: #5a5a5a;

// 7.09 - all text
$font-color-primary: #c2c2c2;

// 4.54 - large text
$font-color-secondary: #9b9b9b;

$font-color-links: #3d82f0;
$font-color-links-visited: #a964be;

$black: black;

$background-color-editor: #0b0e11;
$background-color-editor-nav: #1b2229;
$background-color-editor-nav-hover: #28333d;
