@import './colors.scss';
@import './media-breakpoints';

html {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: $background-color-primary;

    @media (min-width: $tablet-bp) {
        background-image: radial-gradient(
            circle at right,
            $background-color-highlight,
            $background-color-primary 30%
        );
    }
}
