@use './media-breakpoints' as *;

$article-height: 400px;

.app {
    height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.article-window {
    height: max-content;
}

.article {
    height: 50vh;
}

.article-2-column-grid-layout {
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto;
}
