@use '../../../styles/colors' as *;
@use '../../../styles/fonts' as *;

.navigation-bar {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $background-color-editor-nav;
    padding-left: 2em;
    padding-right: 2em;

    ul {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    li {
        flex: 1 1 none;
        text-align: center;
        cursor: pointer;
        border-right: 1px solid $black;
    }
    li:last-child {
        border-right: none;
    }
    li:focus-within,
    li:hover {
        background-color: $background-color-editor-nav-hover;
    }
    a {
        font-size: $font-size-navigation-bar;
        text-transform: uppercase;
        text-decoration: none;

        display: inline-block;
        padding: 0.5em;
    }
    :visited {
        color: $font-color-primary;
    }
    :link {
        color: $font-color-primary;
    }
}
