@use '../../styles/colors' as *;
@use '../../styles/fonts' as *;
@use '../../styles/media-breakpoints' as *;

.app-main {
    background-color: $background-color-editor;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 100vh;
    img {
        max-width: 80vw;
    }
}

.article {
    max-height: 80vh;
    min-height: 256px;
    overflow-y: auto;
    
    /* Table styling */
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th {
        background: $background-color-editor-nav;
    }
}

.article-text {
    padding-left: 2em;
    padding-right: 2em;
}

.app-main-header {
    display: flex;
    justify-content: center;
    padding: 0.2em 1em;
    font-size: $font-size-small-paragraph;
}

.app-main-header-text {
    @media (min-width: $tablet-bp) {
        font-size: $font-size-small-paragraph-desktop;
    }
    margin: 0;
    margin-left: auto;
}

.app-main-header-exit {
    display: inline;
    margin-left: auto;
}

.easter-content {
    text-align: center;
}
